.description {
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  color: rgb(235, 235, 235);
}
.flex-home {
  background: #faf8f5;
}
.container-home .col-home-auth,
.col-home-about {
  padding: 0;
  font-family: Poppins;
}
.col-home-auth,
.col-home-about {
  color: antiquewhite;
}
.col-home-signup {
  text-align: left;
}
.col-home-login {
  text-align: right;
}
.container-home h3 {
  padding: 0.5rem 0;
  color: black;
  border-radius: 0 0px 15px 15px;
  font-size: 0.9rem;
  background: white;
  position: relative;
}
.container-home h4 {
  margin-top: 0.8rem;
  margin-bottom: 0;
  padding-top: 1rem;
  text-align: center;
  font-family: Poppins;
  color: #9e5627;
  letter-spacing: 1.2px;
  font-size: 28px;
}
.home-buttons {
  padding: 1rem 0 !important;
  margin: 0 !important;
}
.row-home {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.btn-home {
  font-size: 1.1rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: transparent !important;
  color: #171717 !important;
  width: 135px;
  padding: 0.2rem 0 !important;
}
.btn-details-activity {
  font-size: 0.8rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: transparent !important;
  color: #171717 !important;
  width: fit-content;
  padding: 0.3rem 0.3rem !important;
}
/* .btn-home:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 4px);
  height: 50%;
  border-radius: 10px;
  background: linear-gradient(rgba(187, 241, 241, 0.185), rgba(255, 255, 255, 0.1));
} */
.modal-home {
  font-family: Poppins;
  top: 25% !important;
}
.modal-home .modal-content {
  /* background-color: transparent;
  background-image: linear-gradient(to bottom, #36096d, #004aa3, #007bc3, #00a9d1, #37d5d6);
  border: none; */
  -webkit-backdrop-filter: blur(0px) saturate(200%) !important;
  background-color: rgba(253, 253, 253, 0.753);
  border: 1px solid rgb(0, 0, 0);
  color: #020e13;
  border-radius: 0 !important;
  border: 1px solid;
}
.modal-activity {
  font-family: Poppins;
  font-size: 0.9rem;
}
.modal-activity .modal-content {
  /* background-color: transparent;
  background-image: linear-gradient(to bottom, #36096d, #004aa3, #007bc3, #00a9d1, #37d5d6);
  border: none; */
  -webkit-backdrop-filter: blur(0px) saturate(200%) !important;
  background-color: rgba(253, 253, 253, 0.753);
  border: 1px solid rgb(0, 0, 0);
  color: #020e13;
  border-radius: 0 !important;
  border: 1px solid;
}
.modal-button {
  border: none !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
  background: #4895ef;
  background: -webkit-linear-gradient(top left, #4895ef, #3f37ca);
  background: -moz-linear-gradient(top left, #4895ef, #3f37ca);
  background: linear-gradient(to bottom right, #4895ef, #3f37ca);
}
.image-home {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.home-yoga {
  background-image: url("https://www.artpartner.com/propeller/uploads/2018/10/1_070918_LASTMAG_MUSHROOMS_027_RGB.jpg");
  height: 195px;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-home h2 {
  font-size: 50px;
  font-family: Poppins;
  color: #faf8f5;
}
.home-taichi {
  background-image: url("https://i.pinimg.com/564x/a3/85/20/a38520182eef474db16842a964136712.jpg");
  height: 195px;
  background-position: top;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-med {
  background-image: url("https://i.pinimg.com/564x/8c/74/2d/8c742dd67e3b77b81602527f522c556f.jpg");
  height: 195px;
  background-position: top;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-home:before {
  content: "";
  position: absolute;
  border: none;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  background-color: rgba(49, 45, 45, 0.842);
  transition: all 500ms ease-in;
}
.image-home:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.home-yoga,
.home-taichi,
.home-med {
  position: relative;
}
/* Yoga Effect */
.home-yoga:after {
  content: "El yoga te lleva al momento presente. El único lugar donde existe la vida";
  position: absolute;
  top: 29%;
  left: 15%;
  width: 70%;
  opacity: 0;
  transition: all 500ms ease-in;
}
.home-yoga:hover:after {
  opacity: 1;
  z-index: 99;
}
/* Taichi Effect */
.home-taichi:after {
  content: "Aprende a controlar las energías, tanto las que vienen de ti, como las que te rodean";
  position: absolute;
  top: 29%;
  left: 12.5%;
  width: 75%;
  opacity: 0;
  transition: all 500ms ease-in;
}
.home-taichi:hover:after {
  opacity: 1;
  z-index: 99;
}
/* Med Effect */
.home-med:after {
  content: "La meditación revela las dimensiones más asombrosas del mundo en el que vivimos";
  position: absolute;
  top: 29%;
  left: 10%;
  width: 80%;
  opacity: 0;
  transition: all 500ms ease-in;
}
.home-med:hover:after {
  opacity: 1;
  z-index: 99;
}
.col-home-about {
  margin: 0rem 0;
}
.container-home ul {
  list-style: none;
  padding-inline-start: 0;
}
.container-home ul li {
  margin: 0.7rem 0;
  text-align: center;
  color: #171717;
}
.container-home ul li p {
  max-width: 450px;
  margin: 0 auto;
}
.imageMobile {
  height: 350px !important;
  width: auto !important;
}
.imageMap {
  height: 250px !important;
  width: auto !important;
  border: 1px solid black;
  margin: 10px 0;
}
.btn-primary:focus {
  box-shadow: none !important;
}
