.review-card img {
  width: 100%;
  height: 120px;
  size: cover;
  max-width: 130px;
  border: 1px solid #171717;
}

.review-card {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 25px 0 rgba(128, 128, 128, 0.219);
}

.review-card p {
  margin-bottom: 5px;
}

.review-col {
  display: flex;
  align-items: center;
}

.review-col img {
  height: 75px;
  width: 75px;
}

.review-col b {
  font-size: 1.2rem !important;
}

.review-header span {
  color: #9e5627;
}
