.mapDetails-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.title-left {
  text-align: left !important;
}
.atributes-details {
  display: flex;
  justify-content: space-evenly;
}

.atributes-details b {
  color: rgb(136, 43, 40) !important;
  text-decoration: none !important;
}

.atributes-details a {
  color: rgb(88, 35, 35) !important;
}
