# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local