.activity-card {
  /* border: 1px solid black;
   */
  box-shadow: 0 0 30px 0 rgba(128, 128, 128, 0.336);
  margin: 0.9rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.5rem;
}
.back-button {
  display: flex;
  justify-content: center;
}
.activity-card .profile-container button {
  width: fit-content;
  text-align: center;
  margin: 1rem 0;
}

.activity-card h5 {
  font-size: 0.8rem;
}
.activity-card h6 {
  font-size: 0.8rem;
}

.details-container button {
  width: fit-content;
  text-align: center;
  margin: 1rem 0;
}
.photo-content {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1rem;
  padding-top: 0.6rem;
}
.photo-content img {
  width: 120px !important;
  height: 120px !important;
  border: 1px solid black;
  object-fit: cover;
}
.info-content {
  height: 140px;
  padding-top: 0.2rem;
}

.activity-card button {
  font-size: 0.8rem !important;
  width: fit-content;
}
.teacher-name {
  margin-top: 0.3rem;
}
