.activity-card {
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0 0 30px 0 #bebdbd48;
  margin: 0 auto 0.9rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.5rem;
  background-color: #faf8f5;
  max-width: 500px;
}

.activity-card:hover .back-button {
  display: flex;
  justify-content: center;
}
.activity-card .profile-container button {
  width: fit-content;
  text-align: center;
  margin: 1rem 0;
}

.activity-card h5 {
  font-size: 0.8rem;
}

.activity-name {
  color: #921d0e;
  font-size: 1rem !important;
}
.activity-card h6 {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}

.details-activity {
  transition: all 1s ease-out !important;
}

.details-activity:hover {
  background-color: #921d0e !important;
  color: white !important;
}

.details-container button {
  width: fit-content;
  text-align: center;
  margin: 1rem 0;
}
.photo-content {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1rem;
  padding-top: 0.6rem;
}
.photo-content img {
  width: 110px !important;
  height: 110px !important;
  border: 1px solid black;
  object-fit: cover;
}
.info-content {
  height: 140px;
  padding-top: 0.2rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left !important;
  width: 138px;
}

.teacher-name {
  margin-top: 0.3rem;
}
.date-content {
  display: flex;
  justify-content: space-around;
}
.date-content i {
  color: #921d0e;
  margin: 0 0.4rem;
}
.content-bottom-activity {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.content-bottom-activity h6 {
  margin-top: 0.7rem;
}
.date-titles {
  font-size: 0.65rem !important;
}
@media (max-width: 370px) {
  .date-content {
    display: block;
    text-align: center;
  }
  .content-bottom-activity h6 {
    display: none;
  }
}
