.portal-container {
  font-family: Poppins;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

main {
  background-color: #faf8f5;
}
.portal-container div {
  text-align: center;
}
.portal-container input {
  border: 1px solid rgba(11, 20, 104, 0.521);
  width: 100%;
  border-radius: 15px;
  margin: 1rem 0;
  height: 2rem;
  padding-left: 1rem;
}
.btn-create {
  font-size: 1.1rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: transparent !important;
  color: #171717 !important;
  margin-top: 0.8rem;
  width: 350px;
  margin: 1rem 0;
  box-shadow: 0;
}

.btn-create:focus {
  box-shadow: 0;
}

.btn-create-red {
  font-size: 1.1rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: rgb(235, 64, 64) !important;
  color: #171717 !important;
  margin-top: 0.8rem;
  margin: 1rem 0;
  box-shadow: 0;
}

.btn-create-green {
  font-size: 1.1rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: rgb(93, 182, 130) !important;
  color: #171717 !important;
  margin-top: 0.8rem;
  margin: 1rem 0;
  box-shadow: 0;
}

.btn-create-fit {
  font-size: 1.1rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: transparent !important;
  color: #171717 !important;
  margin-top: 0.8rem;
  margin: 1rem 0;
  box-shadow: 0;
}
