.me-auto {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.me-auto .nav-link {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.15rem;
  text-align: right;
  margin-right: 5px;
}

.navbar-dark .navbar-toggler-icon {
  border: none;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}
.navbar-brand {
  /* background: -webkit-linear-gradient(right, #47b8f3, #dd16ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #dfdcdb !important;
  font-size: 25px !important;
  padding-left: 0.5rem;
  letter-spacing: 1px;
}
.navbar-main {
  background-color: #171717 !important;
}
