.profile-username {
  margin: 0;
  padding: 20px 0;
  font-weight: 300;
}

.button-profile-back {
  margin-top: 16px !important;
  font-size: 1.1rem !important;
  border: 1px solid black !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  position: relative;
  background-color: transparent !important;
  color: #171717 !important;
}
.user-card img {
  height: 200px;
  width: 180px;
  object-fit: cover;
}
.rating-profile {
  margin-bottom: 1rem;
  font-family: Poppins;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem !important;
}
.avg-span {
  color: #9e5627;
}
